
body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.body1 {
    background-image: url("portfolio\ images/sunset.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.body2 {
    background-color: rgb(238, 120, 90);
}
.body3 {
  background-image: url("portfolio\ images/red.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.body4{
  background-color: rgb(238, 120, 90);
}
.body5{
  background-color: rgb(238, 120, 90);;
}
.body6{
  background-color: rgb(238, 120, 90);;
}
.body7{
  background-color: rgb(238, 120, 90);;
}
.navbar {
    background-color: #8b8787;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
}
.left-tab a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}
.right-tabs a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}
.right-tabs a:hover {
    background-color: #555;
}

.titletext {
    color: white;
    font-size:125px;
    font-family: inria serif;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(57, 11, 80);
}
.titletextt {
    color: white;
    font-size:125px;
    font-family: inria serif;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(57, 11, 80);
}


  .lines-container {
    width: 100%;
    height: 200px; /* Adjust the height as needed */
    position: relative;
  }
  .line {
    position: absolute;
    width: 30%;
    height: 5px;
    background-color: white;
    opacity: 5.5; /* Adjust opacity if needed */
    text-align: center;
    margin-left: 35%;
  }
  .para{
    font-size:18px;
    font-family: sans-serif;
    text-align: center;
    color: white;
  }
  .container-fluid {
    padding-top: 250px;
}
.years{
    text-align:center;
    font-size:35px;
    color: white;
    padding-top: 2%;
}
.title{
    font-size:75px;
    text-align: center;
    color: white;
    padding: 3%;
    font-family: inria serif;
}
.text-center{
    font-size: 65px;
    text-align: center; 
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  }
  .text-right{
    text-align: center; 
    font-size: 25px;
    color: lightblue;
    margin: 10px;
    border:3px;
    border-style:solid; 
    border-color: white; 
    padding: 1em;
  }
  img.shadow-filter:hover {
      filter: drop-shadow(8px 8px 10px white);
  }
  .here{
    font-size:25px;
    color: white;
  }
  .back{
    font-size: 25px;
    color: white;
    text-align: center;
    padding-top: 10%;
  }
  #about {
    background-image: linear-gradient(
      rgb(2, 0, 36, 1),
      rgba(9, 9, 121, 1),
      rgb(0, 212, 255, 1)
    );
  }
  .bg-grey {
    background-color: #292929;
  }
  .spacer {
    padding-top: 55px;
  }
  .square-flip {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
  
    -webkit-transform: perspective(1000px);
    -moz-transform: perspective(1000px);
    -ms-transform: perspective(1000px);
    transform: perspective(1000px);
  
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
  
    /*border:1px solid #efefef;*/
  
    position: relative;
    float: left;
    margin: 20px;
  }
  .square-flip {
    width: 400px;
    height: 400px;
  }
  .square,
  .square2 {
    width: 100%;
    height: 100%;
  }
  .square {
    background-size: cover;
    background-position: center center;
  
    -ms-transition: transform 0.6s cubic-bezier(0.5, 0.3, 0.3, 1);
    transition: transform 0.6s cubic-bezier(0.5, 0.3, 0.3, 1);
    -webkit-transition: transform 0.6s cubic-bezier(0.5, 0.3, 0.3, 1);
    overflow: hidden;
  
    position: absolute;
    top: 0;
  
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .square-flip .square {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    transform-style: preserve-3d;
    z-index: 1;
  }
  .square-flip:hover .square {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    transform-style: preserve-3d;
  }
  
  .square2 {
    background-size: cover;
    background-position: center center;
  
    -ms-transition: transform 0.6s cubic-bezier(0.5, 0.3, 0.3, 1);
    transition: transform 0.6s cubic-bezier(0.5, 0.3, 0.3, 1);
    -webkit-transition: transform 0.6s cubic-bezier(0.5, 0.3, 0.3, 1);
    overflow: hidden;
  
    position: absolute;
    top: 0;
  
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .square-flip .square2 {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    z-index: 1;
  }
  .square-flip:hover .square2 {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    transform-style: preserve-3d;
  }
  
  /*Square content*/
  .square-container {
    padding: 40px;
    text-align: center;
    position: relative;
    top: 50%;
  
    -ms-transition: transform 0.6s cubic-bezier(0.5, 0.3, 0.3, 1);
    transition: transform 0.6s cubic-bezier(0.5, 0.3, 0.3, 1);
    -webkit-transition: transform 0.6s cubic-bezier(0.5, 0.3, 0.3, 1);
  
    -webkit-transform: translateY(-50%) translateX(0px) scale(1);
    -ms-transform: translateY(-50%) translateX(0px) scale(1);
    transform: translateY(-50%) translateX(0px) scale(1);
    transform-style: preserve-3d;
    z-index: 2;
  }
  .square-flip:hover .square-container {
    -webkit-transform: translateY(-50%) translateX(-650px) scale(0.88);
    -ms-transform: translateY(-50%) translateX(-650px) scale(0.88);
    transform: translateY(-50%) translateX(-650px) scale(0.88);
    transform-style: preserve-3d;
  }
  
  .square-container2 {
    padding: 40px;
    text-align: center;
    position: relative;
    top: 50%;
  
    -ms-transition: transform 0.6s cubic-bezier(0.5, 0.3, 0.3, 1);
    transition: transform 0.6s cubic-bezier(0.5, 0.3, 0.3, 1);
    -webkit-transition: transform 0.6s cubic-bezier(0.5, 0.3, 0.3, 1);
  
    -webkit-transform: translateY(-50%) translateX(650px) translateZ(60px)
      scale(0.88);
    -ms-transform: translateY(-50%) translateX(650px) translateZ(60px) scale(0.88);
    transform: translateY(-50%) translateX(650px) translateZ(60px) scale(0.88);
  
    transform-style: preserve-3d;
    z-index: 2;
  }
  .square-flip:hover .square-container2 {
    -webkit-transform: translateY(-50%) translateX(0px) translateZ(0px) scale(1);
    -ms-transform: translateY(-50%) translateX(0px) translateZ(0px) scale(1);
    transform: translateY(-50%) translateX(0px) translateZ(0px) scale(1);
    transform-style: preserve-3d;
  }
  
  /*Style text*/
  .square-flip h2 {
    color: white;
    font-family: "Coda", cursive;
    font-weight: 700;
    font-size: 22px;
  }
  .square-flip h3 {
    color: white;
    font-family: "Coda", cursive;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
  }
  /*Elements*/
  .flip-overlay {
    display: block;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }
  .align-center {
    margin: 0 auto;
  }
  .kallyas-button {
    display: block;
    width: 160px;
    padding: 18px 30px;
    font-family: "Coda", cursive;
    font-weight: 200;
    color: #fff;
    background: #ff2024;
    margin: 0 auto;
    border-radius: 2px;
    text-decoration: none;
    font-size:25px;
  
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffa067+0,ff2959+49,ff2024+100 */
    background: #ffa067; /* Old browsers */
    background: -moz-linear-gradient(
      -45deg,
      #ffa067 0%,
      #ff2959 49%,
      #ff2024 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      -45deg,
      #ffa067 0%,
      #ff2959 49%,
      #ff2024 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      135deg,
      #ffa067 0%,
      #ff2959 49%,
      #ff2024 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa067', endColorstr='#ff2024',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }
  
  /*ADD SHADOWS OPTIONAL*/
  .square-flip .square .boxshadow,
  .square-flip .square .textshadow,
  .square-flip .square2 .boxshadow,
  .square-flip .square2 .textshadow {
    -ms-transition: 0.6s;
    transition: 0.6s;
    -webkit-transition: 0.6s;
  }
  
  .square-flip .square .boxshadow {
    -webkit-box-shadow: 24px 42px 58px -8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 24px 42px 58px -8px rgba(0, 0, 0, 0.3);
    box-shadow: 24px 42px 58px -8px rgba(0, 0, 0, 0.3);
  }
  .square-flip .square .textshadow {
    -webkit-text-shadow: 24px 42px 58px -8px rgba(0, 0, 0, 0.3);
    -moz-text-shadow: 24px 42px 58px -8px rgba(0, 0, 0, 0.3);
    text-shadow: 24px 42px 58px -8px rgba(0, 0, 0, 0.3);
  }
  .square-flip:hover .square .boxshadow,
  .square-flip:hover .square .textshadow {
    -webkit-box-shadow: 240px 42px 58px -8px rgba(0, 0, 0, 0);
    -moz-box-shadow: 240px 42px 58px -8px rgba(0, 0, 0, 0);
    box-shadow: 240px 42px 58px -8px rgba(0, 0, 0, 0);
  }
  
  .square-flip .square2 .boxshadow {
    -webkit-box-shadow: 240px 42px 58px -8px rgba(0, 0, 0, 0);
    -moz-box-shadow: 240px 42px 58px -8px rgba(0, 0, 0, 0);
    box-shadow: 240px 42px 58px -8px rgba(0, 0, 0, 0);
  }
  .square-flip .square2 .textshadow {
    -webkit-text-shadow: 240px 42px 58px -8px rgba(0, 0, 0, 0);
    -moz-text-shadow: 240px 42px 58px -8px rgba(0, 0, 0, 0);
    text-shadow: 240px 42px 58px -8px rgba(0, 0, 0, 0);
  }
  .square-flip:hover .square2 .boxshadow,
  .square-flip:hover .square2 .textshadow {
    -webkit-box-shadow: 24px 42px 58px -8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 24px 42px 58px -8px rgba(0, 0, 0, 0.3);
    box-shadow: 24px 42px 58px -8px rgba(0, 0, 0, 0.3);
  }
  
  /*You can delete this style*/
  .centerflipcards {
    display: block;
    width: 1330px;
    height: 440px;
    text-align: center;
    margin: 0 auto;
    margin-top: 25px;
  }
  .clearfix {
    clear: both;
  }
  .centerflipcards p {
    font-family: "Coda", cursive;
    font-size: 13px;
    margin-top: 10px;
    font-weight: 700;
  }
  
  #options {
    background-image: url("portfolio\ images/red.jpg");
  }
  html,
  body {
    overflow-x: hidden;
  }
  

  
  .padding-toptext {
    padding-top: 45px;
  }
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input,
.form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.form-group textarea {
    height: 100px;
}
.form-group button {
    padding: 8px 12px;
    border: none;
    border-radius: 3px;
    background-color: rgb(133, 133, 133)
    color: #fff;
    cursor: pointer;
}
.form-group button:hover {
    background-color: rgb(57, 11, 80);
    color: white
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 100px;
    width: 100px;
    background-size: 100%, 100%;
    background-image: none;
    padding: 20%;
}

.carousel-control-next-icon:after {
    content: '>';
    font-size: 55px;
    color: gray;
}

.carousel-control-prev-icon:after {
    content: '<';
    font-size: 55px;
    color: gray
}
.footer {
  background-color: #ECECEC;
  padding: 20px 0;
  width: 100%;
  position: relative;
  margin-top: auto; /* This pushes the footer to the bottom of the page */
}

.footer ul {
  padding: 0;
  text-align: center;
}

.footer ul li {
  display: inline-block;
  margin: 0 10px;
}

.footer ul a {
  color: black;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

.footer .credit {
  text-align: center;
  font-family: "Poppins", sans-serif;
}
Updated HTML: