body {
    margin: 0;
    font-family: Arial, sans-serif;
}
body {
    background-image: url("portfolio\ images/sunset.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
   }

.navbar {
    background-color: #8b8787;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
}
.left-tab a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}
.right-tabs a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}
.right-tabs a:hover {
    background-color: #555;
}

.titletext {
    color: white;
    font-size:125px;
    font-family: inria serif;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(57, 11, 80);
}
.titletextt {
    color: white;
    font-size:125px;
    font-family: inria serif;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(57, 11, 80);
}


  .lines-container {
    width: 100%;
    height: 200px; /* Adjust the height as needed */
    position: relative;
  }
  .line {
    position: absolute;
    width: 30%;
    height: 5px;
    background-color: white;
    opacity: 5.5; /* Adjust opacity if needed */
    text-align: center;
    margin-left: 35%;
  }
  .para{
    font-size:18px;
    font-family: sans-serif;
    text-align: center;
    color: white;
  }
  .container-fluid {
    padding-top: 250px;
}
.years{
    text-align:center;
    font-size:35px;
    color: white;
    padding-top: 2%;
}
.title{
    font-size:75px;
    text-align: center;
    color: white;
    padding: 3%;
    font-family: inria serif;
}
.text-center{
    font-size: 65px;
    text-align: center; 
    color: white;
  }
  .text-right{
    text-align: center; 
    font-size: 25px;
    color: lightblue;
    margin: 10px;
    border:3px;
    border-style:solid; 
    border-color: white; 
    padding: 1em;
  }
  img.shadow-filter:hover {
      filter: drop-shadow(8px 8px 10px white);
  }
  .here{
    font-size:25px;
    color: white;
  }
  .arrow{
    font-size: 35px;
    color: white;
  }
